h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2';
    font-weight: bold;
}

body {
    font-family: 'Open Sans';
    background-color: #f9f7f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

button {
    border-radius: 4px;
    box-shadow: 1px 2px 10px -5px rgba(0, 0, 0, 0.5);
    background-color: #b6223e;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    padding: .75rem 1rem;
    margin: 0 4px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 90%;
}

button:disabled {
    opacity: 60% !important;
    cursor: default;
}


#lbl_to {
    font-weight: bold;
}

#log {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    display: flex;
    margin-top: 1.25rem;
    border: solid gray 1px;
    padding: .75rem;
    border-radius: 4px;
    flex-direction: column;
    overflow-y: auto;
    height: 150px;
    width: 400px;
    word-wrap: break-word;
}

#log > p {
    margin: 0px;
}

#log .highlighted {
    font-weight: bold;
    color: #b6223e;
}

#btn_container {
    display: flex;
}
