.phone-width {
    width: 100%;
    max-width: 800px;
}

.font-main {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 29px;
}

.font-teaser {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    line-height: 1.55;
    color: #222;
    font-size: 22px;
}

.btn-main {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: 0;
}

.font-open-sans {
    font-family: 'OpenSans', sans-serif;
    letter-spacing: 0;
}

.angle-cut-background {
    background: #f9f7f0;
    position: relative;
}
@media (min-width: 835px) {
    .angle-cut-background {
        background: white;
    }
}
.angle-cut-background::before {
    position:absolute;
    content: " ";
    display:block;
    left:0;
    top:0;
    width:100%;
    border-style: solid;
    border-width: 30px 100vw 0 0;
    border-color: white transparent transparent transparent;
}
.arrow-down {
    position: relative;
}
.arrow-down::before {
    content: " ";
    transform: rotate(135deg);
    border-style: solid;
    position: absolute;
    left: -15px;
    top: -10px;
    width: 30px;
    height: 30px;
    display: block;
    border-width: 5px 5px 0 0;
    border-color: #222 #222 transparent transparent;
    border-radius: 0;
    z-index: 10;
}
.max-w-360 {
    max-width: 360px;
}

.bg-kaki {
    background-color: #f9f7f0;
}

.input-focus {
    border-width: 1px;
    margin-bottom: 2px;
}

.input-focus:focus {
    border-bottom: 3px solid #87a544;
    margin-bottom: 0;
}
