.phone-width {
    width: 100%;
    max-width: 800px;
}

.font-main {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 29px;
}

.font-exo2 {
    font-family: 'Exo 2', sans-serif;
}

.font-teaser {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    line-height: 1.40;
    color: #222;
    font-size: 24px;
}

.btn-main {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: 0;
}

.btn-gray {
    color: #777777;
    background-color: #eeeeee;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
}

.angle-cut-background {
    background: #f9f7f0;
    position: relative;
}
@media (min-width: 835px) {
    .angle-cut-background {
        background: white;
    }
}
.angle-cut-background::before {
    position:absolute;
    content: " ";
    display:block;
    left:0;
    top:0;
    width:100%;
    border-style: solid;
    border-width: 30px 100vw 0 0;
    border-color: white transparent transparent transparent;
}

.max-w-360 {
    max-width: 360px;
}

.bg-kaki {
    background-color: #f9f7f0;
}
.logo-margin {
    margin-left: -30px;
}

.entry,
.response {
    transition: 300ms;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.entry:hover,
.response:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
