@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;800&family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;400;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.btn-primary {
    @apply rounded p-4 bg-primary text-secondary w-full inline-block text-center font-bold;
}

.btn-secondary {
    @apply rounded p-4 bg-secondary text-secondary w-full inline-block text-center font-bold;
}

.btn-green {
    background-color: #87a544;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: 0;
    @apply rounded py-2 pl-4 text-white text-center pr-8 relative;
}

.btn-green::after {
    content: ">";
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    bottom: 2px;
    margin-left: 10px;
}
.btn-green:hover {
    opacity: 0.75;
}

.btn-green-secondary {
    border: 2px solid #87a544;
    color: #87a544;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: 0;
    @apply rounded py-2 pl-4 text-center pr-8 relative;
}

.btn-green-secondary::after {
    content: ">";
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    bottom: 2px;
    margin-left: 10px;
}

.btn-green-secondary:hover {
    opacity: 0.75;
}

.btn-round {
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.btn-report-entry {
    float: right;
    width: 115px;
    height: 25px;
    border-radius: 15px;
    background-color: #b6223e;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.btn-report-entry:hover {
    opacity: 0.75;
}

.btn-report-entry-enabled {
    background-color: #f3e8ea;
}

.btn-report-entry-disabled {
    background-color: #f9f7f0;
    pointer-events: none;  /* make button non-clickable */
}

.btn-report-entry-enabled:hover {
    opacity: 0.75;
}

.btn-report-entry-disabled:hover {
    opacity: 0.75;
}

.centered-flag {
     /* center the svg inside the button https://stackoverflow.com/a/8640044/8547462 */
     display: block;
     margin: auto;
     height: 1.1rem;
     margin-left: 0.4rem;
 }

.x-btn-flag {
    height: 0.8rem;
 }

.x-btn-flag:hover {
    opacity: 0.75;
 }

.report-entry-flag {
    height: 0.9rem;
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.75rem;
    margin-bottom: 0.1rem;
}

.btn-x-report-entry {
    background-color: #dddddd;
    margin-left: 0.25rem;
}

.btn-report-entry-span {
     /* align text with svg https://stackoverflow.com/a/37742207/8547462 */
    vertical-align: middle;
    display: inline-block;
}

.input-focus {
    border-width: 1px;
    margin-bottom: 2px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    @apply border rounded p-3 leading-tight w-full;
}

.input-focus:focus {
    border-bottom: 3px solid #87a544;
    margin-bottom: 0;
    outline: none;
}

.arrow-more-content {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 20px);

    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.95;

    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;

    cursor: pointer;
}
.scroll-up-btn {
    position: fixed;
    right: -100px;
    bottom: 20px;
    transition: right 0.5s;
    cursor: pointer;

    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.95;

    background-color: rgba(119, 119, 119, 0.9);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-up-btn-fade {
    right: 20px;
}
