@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;800&family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@400;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.btn-primary {
    @apply rounded p-4 bg-primary text-secondary w-full inline-block text-center font-bold;
}

.btn-green {
    background-color: #87a544;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: 0;
    @apply rounded py-2 pl-4 text-white text-center pr-8 relative;
}

.btn-green::after {
    content: ">";
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 1px;
    margin-left: 10px;
}
.btn-green:hover {
    opacity: 0.75;
}

.input-focus {
    border-width: 1px;
    margin-bottom: 2px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    @apply border rounded p-3 leading-tight w-full;
}

.input-focus:focus {
    border-bottom: 3px solid #87a544;
    margin-bottom: 0;
    outline: none;
}
