name: Deploy
on:
  push:
    branches:
      - master

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
        env:
          NODE_ENV: prod
      - name: Deploy
        env:
          TOKEN: ${{ secrets.TOKEN }}
        run: ./.github/workflows/deploy-frontend.sh
      - name: Create a release on Sentry
        uses: tclindner/sentry-releases-action@v1.0.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: quarantine-hero
          SENTRY_PROJECT: quarantine-hero
        with:
          tagName: ${{ github.sha }}
          environment: production

  deploy-firebase:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: firebase/functions
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install Dependencies
        run: npm install
      - name: Deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: ./.github/workflows/deploy-firebase.sh
