name: Lint

on: pull_request

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: npm install @octokit/rest
      - uses: florianschmidt1994/eslint-action@v1
        with:
          repo-token: ${{secrets.GITHUB_TOKEN}}
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}