name: PullRequest
on:
  pull_request:
    branches:
      - master

jobs:
  lint-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: yarn install
      - name: Lint
        run: yarn lint-frontend
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install Dependencies
        run: yarn install
      - name: Build
        run: yarn build
        env:
          NODE_ENV: prod
  test-frontend-mobile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: yarn install
      - name: Test frontend mobile
        uses: cypress-io/github-action@v1
        with:
          env: NODE_ENV=prod
          build: yarn build
          start: yarn start
          wait-on: http://localhost:3000
  test-frontend-dekstop:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: yarn install
      - name: Test frontend desktop
        uses: cypress-io/github-action@v1
        with:
          env: NODE_ENV=prod
          build: yarn build
          start: yarn start
          wait-on: http://localhost:3000
          config-file: cypress-desktop.json

  lint-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: firebase/functions
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install Dependencies
        run: npm install
      - name: Lint
        run: npm run lint
